server:
  port: 8888
spring:
  application:
    name: configserver
  cloud:
    config:
      server:
        git:
          uri: https://github.com/wuzhonglong/springcloud.git
          searchPaths: config
          username: 804284713@qq.com
          password: agony151314yn@#$
      label: master
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/